@import "tailwindcss";

@theme {
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Inter", system-ui, sans-serif;
}

html {
  scrollbar-width: none;
}

@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
